@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  scroll-behavior: smooth;
  font-family: 'onest-regular', sans-serif;
}

@font-face {
  font-family: 'onest-bold';
  src: url('/fonts/Onest-Bold.ttf');
}

@font-face {
  font-family: 'onest-regular';
  src: url('/fonts/Onest-Regular.ttf');
}
