@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: light dark;
  --font-onest-regular: 'onest-regular';
  --font-onest-bold: 'onest-bold';
}

@font-face {
  font-family: 'onest-bold';
  src: url('/static/fonts/Onest-Bold.ttf');
}

@font-face {
  font-family: 'onest-regular';
  src: url('/static/fonts/Onest-Regular.ttf');
}
