name: Deploy
on:
  push:
    branches: master
  pull_request:
    branches: master

jobs:
  deploy:
    name: Deploy
    runs-on: ubuntu-latest

    permissions:
      id-token: write # Needed for auth with Deno Deploy
      contents: read # Needed to clone the repository

    steps:
      - name: Clone repository
        uses: actions/checkout@v4

      - name: Install Deno
        uses: denoland/setup-deno@v2
        with:
          deno-version: v2.x

      - name: Install pnpm
        uses: pnpm/action-setup@v3

      - name: Install Node.js
        uses: actions/setup-node@v4
        with:
          node-version: lts/*
          cache: pnpm

      - name: Install step
        run: 'pnpm install'

      - name: Build step
        run: 'pnpm run build'

      - name: Upload to Deno Deploy
        uses: denoland/deployctl@v1
        with:
          project: 'castrogarciajs'
          entrypoint: 'jsr:@deno/nextjs-start/v15'
          root: '.'
          include: .next, public
